<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="redis.config.test" value="47.97.80.63:6379,password=Bcp:123"/>
		<add key="redis.config.cache0" value="m-k2j942271bb1eec4pd.memcache.zhangbei.rds.aliyuncs.com:6379,password=m-k2j942271bb1eec4:jiyAe4Yfpgk2uS"/>
		<add key="redis.config.master" value="r-k2j9lbm8h145tk4dcepd.redis.zhangbei.rds.aliyuncs.com:6379,password=prd_erp_test:b00YZrqFcLT3L75prbu0"/>
		<add key="redis.config.large.master" value="r-k2jckiwyn3p7bc55c2pd.redis.zhangbei.rds.aliyuncs.com:6379,password=r-k2jckiwyn3p7bc55c2:RAhuc7nfNvhbXXwvFNtB"/>
	</appSettings>
</configuration>